* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    background: rgb(68, 100, 173);
    background: linear-gradient(
        100deg,
        rgba(68, 100, 173, 1),
        rgba(74, 21, 110, 1)
    );
    color: white;
    min-height: 100vh;
    margin-bottom: 2rem;
    margin-top: 50px;
}

h1 {
    color: #1b1b32;
    font-size: 25px;
    font-family: Roboto, sans-serif;
    text-align: center;
    margin: 20px 0;
}

.App {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Lista de Tareas */

.tareas-lista-principal {
    width: 600px;
    min-height: 500px;
    background-color: #d0d0d5;
    padding: 25px;
    margin: 10px;
    border-radius: 26px;
}